<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4 bg-white m-auto rounded-top p-4 shadow">
      <h2 class="text-center mb-4">Réinitialiser le mot de passe</h2>
      <div *ngIf="message" class="alert alert-info">{{ message }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="bi bi-envelope"></i></span>
          <input type="email" formControlName="email" class="form-control" placeholder="Votre email" autofocus />
        </div>

        <div class="d-grid p-2">
          <button type="submit" [disabled]="!resetForm.valid" class="btn btn-primary mb-3">Envoyer</button>
          <p class="text-center">
            <a routerLink="/login">Retour connexion</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
