<div class="home-container container py-5">

  <section class="welcome-section text-center mb-5">
    <h1 class="display-4 fw-bold mb-3">Bienvenue sur Moodle UTBM</h1>
    <p class="lead text-secondary">
      Découvrez vos cours, suivez vos activités, et commencez ce semestre avec enthousiasme !
    </p>
    <button class="btn btn-success btn-lg mt-3" (click)="goToCourses()">
      Explorer les cours
    </button>
  </section>

  <section class="features-section row text-center gy-4">
    <div class="col-md-4">
      <div class="feature-box p-4 shadow rounded">
        <div class="feature-icon mb-3 text-success">
          <img [src]=" 'assets/images/cours.png'" class="card-img-top" alt="Image de l'UE" />
        </div>
        <h5 class="fw-bold">Cours variés</h5>
        <p>Accédez à tous vos cours organisés par catégorie.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature-box p-4 shadow rounded">
        <div class="feature-icon mb-3 text-success">
          <img [src]=" 'assets/images/campus.png'" class="card-img-top" alt="Image de l'UE" />
        </div>
        <h5 class="fw-bold">Campus ouvert à tous</h5>
        <p>Découvrez votre université</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature-box p-4 shadow rounded">
        <div class="feature-icon mb-3 text-success">
          <img [src]=" 'assets/images/com.png'" class="card-img-top" alt="Image de l'UE" />
        </div>
        <h5 class="fw-bold">Communauté</h5>
        <p>Échangez avec vos enseignants et vos camarades dans les forums.</p>
      </div>
    </div>
  </section>

  <section class="image-section text-center my-5">
    <img
      src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?auto=format&fit=crop&w=1000&q=80"
      alt="Campus UTBM"
      class="img-fluid rounded shadow"
      style="max-height: 350px;"
    />
    <p class="text-muted mt-3">Powered By Tecnhnology.</p>
  </section>

</div>
