<!--
Utiliser ngIf pour les conditions
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="logo" src="assets/images/utbm.png" alt="UTBM Logo" width="40" height="30">
    </a>

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/ueStudent">Mes cours</a>
      <a class="nav-item nav-link" href="/profs/alertes">Activités récentes</a>
      <a routerLink="/login" class="nav-link">Connexion</a>

    </div>
  </div>
</nav>
