<!--
Utiliser ngIf pour les conditions
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="logo" ngSrc="assets/images/utbm.png" alt="UTBM Logo" width="75" height="50">
    </a>

    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/mesCours">Mes cours</a>
      <a class="nav-item nav-link" routerLink="">Activités récentes</a>
      <a class="nav-item nav-link" routerLink="/login">Connexion</a>
      <div *ngIf="userRole=='admin'">
        <a class="nav-item nav-link" routerLink="/catalogue">Catalogue</a>
      </div>
    </div>
  </div>
</nav>
