<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="logo" src="assets/images/utbm.png" alt="UTBM Logo" width="75" height="50" />
    </a>

    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/mesCours" *ngIf="userRole === 'ROLE_PROF' || userRole === 'ROLE_ADMIN'">Mes cours</a>
      <a class="nav-item nav-link" routerLink="">Activités récentes</a>
      <a class="nav-item nav-link" routerLink="/login" *ngIf="!userRole">Connexion</a>
      <a class="nav-item nav-link" routerLink="/catalogue" *ngIf="userRole === 'ROLE_ADMIN'">Catalogue</a>
      <a class="nav-item nav-link" routerLink="/profil" *ngIf="userRole">Profil</a>
      <a class="nav-item nav-link" (click)="logout()" *ngIf="userRole">Déconnexion</a>
    </div>
  </div>
</nav>
